.information {
  max-width: 1500px;
  margin-left: 12%;

  .title {
    padding: 36px 0;
    font-size: 80px;
    font-weight: bold;
  }

  .description {
    font-size: 36px;
    font-weight: lighter;

    .params {
      margin-bottom: 24px;
    }
  }
}